@model Modelos.OrdenCompraModel

@{
    ViewBag.Title = "Orden de Compra";
}

<script type="text/javascript" src="~/Scripts/Views/ordenDeCompra.js"></script>

<h2>Crear</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h4>Orden de compra</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.cabecera.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-4">
                @if (Model.cabecera.ID == 0)
                {
                    @Html.TextBoxFor(model => model.cabecera.Numero, new { @class = "form-control" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.cabecera.Numero, new { @class = "form-control", @disabled = true })
                }
                @Html.ValidationMessageFor(model => model.cabecera.Numero, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.cabecera.ProveedorId, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-4 DB-select-proveedor">
                @if (Model.cabecera.ID == 0)
                {
                    @Html.DropDownListFor(model => model.cabecera.ProveedorId, Model.cabecera.ProveedoresActivos, "Seleccione un proveedor")
                }
                else
                {
                    @Html.DropDownListFor(model => model.cabecera.ProveedorId, Model.cabecera.ProveedoresActivos, "Seleccione un proveedor", new { @disabled = true })
                }
                @Html.ValidationMessageFor(model => model.cabecera.ProveedorId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.cabecera.FechaEmision, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.cabecera.FechaEmision, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cabecera.FechaEmision, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.cabecera.NroReferencia, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.cabecera.NroReferencia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cabecera.NroReferencia, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.cabecera.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.cabecera.Observaciones, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cabecera.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-1">
                @Html.LabelFor(model => model.cabecera.CantidadTotal, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.cabecera.CantidadTotal, new { @class = "form-control", @disabled=true })
                @Html.ValidationMessageFor(model => model.cabecera.CantidadTotal, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.cabecera.MonedaOperacionId, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-2 DB-select-moneda">
                @Html.DropDownListFor(model => model.cabecera.MonedaOperacionId, Model.cabecera.MonedasActivas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cabecera.MonedaOperacionId, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.cabecera.Cotizacion, htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.cabecera.Cotizacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cabecera.Cotizacion, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                @Html.TextBoxFor(model => model.cabecera.ImporteTotal, new { @class = "form-control", @disabled = true })
                @Html.ValidationMessageFor(model => model.cabecera.ImporteTotal, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-2">
                <label class="control-label col-md-8">Artículos cargados a partir del:</label>
            </div>
            <div class="col-md-2">
                <input class="form-control text-box single-line col-md-2" data-val="true" data-val-date="The field Desde must be a date." data-val-required="La fecha de carga es obligatoria" id="FechaCarga" name="FechaCarga" type="date" value=now />
            </div>
            <div class="col-md-2">
                <input type="button" class="form-control btn-success" id="btnCargarArticulos" value="Cargar" />
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-12" style="text-align:center">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
            </div>
        </div>
    @*@Html.Partial("OCLineasCarga", Model)
    @Html.Partial("OCLineasOtros", Model)*@
}

<div class="col-md-offset-0 col-md-10">
    @Html.ActionLink("Volver", "Index")
</div>