@model List<Modelos.Dtos.OrdenCompraDto>

@{
    ViewBag.Title = "Órdenes de Compra";
}

<h2>Órdenes de Compra</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>Emisión</th>
        <th>Proveedor</th>
        @*<th>Número</th>*@
        <th>Referencia</th>
        <th>Cantidad</th>
        <th>Moneda</th>
        <th>Importe</th>

    </tr>
    @foreach(var ordenDeCompra in Model)
    {
        <tr>
            @*No muestro ORDEN_COMPRA_CAB_ID*@
            <td>@ordenDeCompra.FechaEmision.ToString("dd/MM/yyyy")</td>
            <td>@ordenDeCompra.NombreProveedor</td>
            @*<td>@ordenDeCompra.Numero</td>*@
            <td>@ordenDeCompra.NumeroReferencia</td>
            <td>@ordenDeCompra.CantidadPedida</td>
            <td>@ordenDeCompra.CodigoMonedaOpearcion</td>
            <td>@ordenDeCompra.ImporteTotal</td>
            <td>
                <a href="@Url.Action("Edit", "OrdenCompra", new { @ordenCompraId=ordenDeCompra.Id })">Editar</a>
                <a href="@Url.Action("Delete", "OrdenCompra", new { @id=ordenDeCompra.Id })">Eliminar</a>
            </td>
        </tr>
    }

</table>

<a href="@Url.Action("Create","OrdenCompra")">Nueva Orden de Compra</a>


